
<a href="/seeds/new"><input type="submit"            name="submit" value="Add Seeds"></a>

<form method="post" action="/logout">
   <input type="submit" id="submit" value="logout">
</form>

<h3>Available Seeds</h3>
<h3>Fruits<h3>
<ol>
<%@seeds.select { |item| item.catergory == 'fruit'}.each do |seed| %>
      <li><a href="/seeds<%=seed.id%>">
      <%=seed.name%></a> -- 
      <%=seed.description%></li>
<% end %>

<h2>Herbs</h2>
<%@seeds.select { |item| item.catergory == 'herb'}.each do |seed| %>
      <li><a href="/seeds<%=seed.id%>">  <%=seed.name%></a> --
      <%=seed.description%></li>
<% end %>

</ol>

<h2>Vegetables</h2>
<%@seeds.select { |item| item.catergory == 'vegetable'}.each do |seed| %>
      <li><a href="/seeds<%=seed.id%>">  <%=seed.name%></a> --
      <%=seed.description%></li>
<% end %>





  